@mixin center {
  text-align: center;
  background-color: black;
 }

// color de fondo sitio web
body {
    background-color: #4b4c4d; }
// 

// para alinear los textos 
 .texto2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
  
 }
  // 
    .imgsecundarias {
       display: flex;
      align-items: center; }
  
// me centra las noticias 
   .noticiasDiv {
 @include center ;
  }
  // 

  
  /* me centra el texto de videos recomendados */
  .alinear {
    text-align: center; }
//
// es un boton abajo del todo en el index
.boton{
    border: none;
     color: rgb(255, 0, 0);
     padding: 16px 32px;
    text-align: center;
     text-decoration: black;
     font-size: 16px;
     margin: 4px 2px;
   transition-duration: 0.4s;
     cursor: pointer;
  }
// 












