/* color de la pagina */
.body-index {
  background-color: #4b4c4d; }
  .body-xbox {
    background-color: #107c10; } 
    .body-nintendo {
      background-color: #333333; } 
      .body-steam{
        background-color: #c7d5e0; } 
        .body-play{
          background-color: #2e6db4; } 
/*  */











