  /* es un boton en la parte de abajo de todas las paginas */
  .boton {
    border: none;
    color: red;
    padding: 16px 32px;
    text-align: center;
    text-decoration: black;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer; }
  /*  */