 /* color de todos los navbars */
 .bg-color-xbox{
    background-color: #77bb44;
  }
  .bg-color-steam{
    background-color: #2a475e;
  }
  .bg-color-nintendo{
    background-color: #ff2d2d;
  }

  /*  */